@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
    font-family: 'Bebas Neue', cursive;
}

h1{
    font-family: "Anton", sans-serif;
}

.nav-logo{
    width: 70px;
}

.fun-div{
    display:none;
}

#video{
    max-width: 600px;
    width: 90%;
}

.card-custom{
    min-height: 170px;
}

.text-height-full {
    height: 100px;
}

li {
    list-style: none;   
}

a {
    color: #000;
    text-decoration: none;
}

footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}

footer > ul {
    display: flex;
    justify-content: flex-end;
}

footer > ul > li {
    padding: 0 10px;
}

footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}
@media screen and (max-width: 425px){
    .body-container{
        width: 100vw;
    }
    .fun-div{
        display:flex;
        justify-content: center;
        height:calc(100vh - 66.2px);
    }
    .fun-div .img-con{
        height: 100%;
        width: 100vw;
        z-index: 2;
    }

    .img-con img{
        width: 100%;
    }

    .fun-div .h1-con{
        position: absolute;
        top: 15%;
        z-index: 3;
        color: grey;
        transition: background-color 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
        transition-delay: 0.3s;
        width: 100vw;
        height: 4rem;
    }
    .h1-move {
        position: absolute;
        color: grey;
        top: 20%;
        left: -50%;
        transition: left 1s cubic-bezier(0,.39,.83,1.37);

    }
    .fun-div .h1-con:hover{
        background-color: black;
    }
    .fun-div .h1-con:hover .bikes{
        color: white;
    }
    .fun-div .h1-con:hover .h1-move{
        left: 25%;
    }
    .bikes{
        color: black;
        transition: color 0.7s cubic-bezier(0.47, 0, 0.745, 0.715);
        transition-delay: 0.5s;
    }
    #video{
        height: auto;
    }
}